/* CSS Document */
body { 
	background-color:darkred;	
	font-family: Arial, Helvetica, Verdana, sans-serif
}
.topnavout { background-color:#FF6600; color:#FFFFFF; }
.topnavout A:link { color:#FFFFFF; }
.topnavout A:hover { color:#FFFFFF; }
.topnavout A:visited { color:#FFFFFF; }

.topnavover { background-color:#FFCC00; color:#000000; }
.topnavover A:link { color:#000000; }
.topnavover A:hover { color:#000000; }
.topnavover A:visited { color:#000000; }

.contentbody { 
	width:600px; 
	background-color:white; 
	padding: 5px 5px 5px 5px; 
	border-style:double; 
	border-color: black; 
}

